{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

  <h1 class="f1 pt0 mt3 mb3">{{ self.title }}</h1>
  <p class="mb5 orange">Created {{ self.first_published_at }}</p>

  <div id="updates-container">
    {% for block in self.body reversed %}
      {% include_block block %}
    {% endfor %}
  </div>

  <script>
      {% include 'website/moment.min.js' %}

      function updateTime() {
        document.querySelectorAll("[data-datetime]").forEach(function (item) {
          item.innerHTML = moment(item.getAttribute('data-datetime')).fromNow();
        });
      }

      updateTime();
      setInterval(function () {
        updateTime();
      }, 60 * 1000);

      const socket = new WebSocket(`ws://${window.location.host}/ws/update/{{ page.group_name }}/`);
      const messageContainer = document.getElementById('updates-container');

      function getMessageElement(messageId) {
        return messageContainer.querySelector(`[data-message-id="${messageId}"]`);
      }

      socket.onmessage = (e) => {
          let data = JSON.parse(e.data);
          let { message, renders, removals } = data;
          Object.entries(renders).forEach(([ key, value]) => {
            const existing = getMessageElement(key);
            if (existing) {
              existing.outerHTML = value;
            } else {
              messageContainer.innerHTML = value + messageContainer.innerHTML;
            }
          });
          Array.from(removals).forEach(messageId => {
            const element = getMessageElement(messageId);
            if (element) {
              messageContainer.removeChild(element);
            }
          });
          console.log(message);
          updateTime();
      };

      socket.onclose = (e) => {
          console.error('Chat socket closed unexpectedly');
      };
  </script>

{% endblock content %}
