{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/liveblog.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="avenir black-80">
        <section class="mw7 center pt5">
            {% wagtailuserbar %}
            {% block content %}{% endblock %}

            {# Global javascript #}
            <script type="text/javascript" src="{% static 'js/liveblog.js' %}"></script>

            {% block extra_js %}
                {# Override this in templates to add extra javascript #}
            {% endblock %}
        </section>
    </body>
</html>
